<%- include('includes/head') %>

<body class="bg-gray-100">
    
    <%- include('includes/nav') %>

    <h1 class="text-center text-3xl font-semibold"> <%= data.title %> </h1>

    <% if (data.errorMessage) { %>
        <h4><%= data.errorMessage %></h4>
    <% } %>
    
    <div class="container mx-auto mt-8">

        <form class="w-full max-w-sm" id="" action="/users/updateUser" method="post">
            <input type="hidden" name="id" value="<%= data.user.id %>">
            <div class="md:flex mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="name">Nome: </label>
                </div>
                <div class="md:w-2/3">
                    <input  class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" name="name" value="<%= data.user.name %>" required>
                </div>
            </div>
            <br>
            <div class="md:flex mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="password">Senha: </label>
                </div>
                <div class="md:w-2/3">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="password" name="password" value="<%= data.user.password %>"  required>
                </div>
            </div>
            <br>
            <div id="telefonesContainer">
                <% for (let i = 0; i < data.user.telephones.length; i++) { %>
                <div class="md:flex mb-6" id="telefone<%= i + 1 %>">
                    <div class="md:w-1/3">
                        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="telefone<%= i + 1 %>">Telefone <%= i + 1 %>:</label>
                    </div>
                    <div class="md:w-2/3">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" id="telefone1" name="telephones" value="<%= data.user.telephones[i].number %>" required>
                    </div>
                    <div class="md:w-3/3">
                        <label class="md:w-3/3 block text-gray-500 font-bold">
                            <% if (data.user.telephones[i].is_principal) { %>
                            <input type="radio" name="telefonePrincipal" value="<%= i + 1 %>" required checked> Principal
                            <% } else { %>
                            <input type="radio" name="telefonePrincipal" value="<%= i + 1 %>" required> Principal
                            <% } %>
                            <span class="text-sm" id="remove-button" onclick="removerTelefone(this)">❌</span>
                        </label>
                    </div>
                </div>     
                <% } %>  
            </div>
            <br>
            <div class="md:flex mb-6">
                <button type="button" onclick="adicionarTelefone()" class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white py-1 px-2 rounded">Adicionar Telefone</button>
            </div>
            <br>
            <div id="emailsContainer">
                <% for (let i = 0; i < data.user.emails.length; i++) { %>
                <div class="md:flex mb-6" id="email<%= i + 1 %>">
                    <div class="md:w-1/3">
                        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="email<%= i + 1 %>">Email <%= i + 1 %>:</label>
                    </div>
                    <div class="md:w-2/3">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" id="email1" name="emails" value="<%= data.user.emails[i].email %>" required>
                    </div>
                    <div class="md:w-3/3">
                        <label class="md:w-3/3 block text-gray-500 font-bold">
                            <% if (data.user.emails[i].is_principal) { %>
                            <input type="radio" name="emailPrincipal" value="<%= i + 1 %>" required checked> Principal
                            <% } else { %>
                            <input type="radio" name="emailPrincipal" value="<%= i + 1 %>" required> Principal
                            <% } %>
                            <span class="text-sm" id="remove-button" onclick="removerEmail(this)">❌</span>
                        </label>
                    </div>
                </div>
                <% } %>         
            </div>
            <br>
            <div class="md:flex mb-6">
                <button type="button" onclick="adicionarEmail()" class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white py-1 px-2 rounded">Adicionar Email</button>
            </div>
            <br>
            <button class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">Atualizar</button>
        </form>
    </div>
     <script>
        let contadorTelefone = document.getElementById('telefonesContainer').children.length
        let contadorEmail = document.getElementById('emailsContainer').children.length

        function adicionarTelefone() {
            const container = document.getElementById('telefonesContainer')
            const novoTelefone = document.createElement('div')
            novoTelefone.classList.add('telefone')
            novoTelefone.innerHTML = `
            <div class="md:flex mb-6" id="telefone${contadorTelefone}">
                    <div class="md:w-1/3">
                        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="telefone${contadorTelefone}">Telefone ${contadorTelefone}:</label>
                    </div>
                    <div class="md:w-2/3">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" id="telefone${contadorTelefone}" name="telephones" required>
                    </div>
                    <div class="md:w-3/3">
                        <label class="md:w-3/3 block text-gray-500 font-bold">
                            <input type="radio" name="telefonePrincipal" value="${contadorTelefone}" required> Principal
                            <span class="text-sm" id="remove-button" onclick="removerTelefone(this)">❌</span>
                        </label>
                    </div>
                </div>  
            `;
            container.appendChild(novoTelefone)
            contadorTelefone++
        }

        function removerTelefone(element) {
            const telefoneDiv = element.closest('.telefone')
            if (telefoneDiv) {
                telefoneDiv.remove()
            }
        }

        function adicionarEmail() {
            const container = document.getElementById('emailsContainer')
            const novoEmail = document.createElement('div')
            novoEmail.classList.add('email')
            novoEmail.innerHTML = `
            <div class="md:flex mb-6" id="email${contadorEmail}">
                    <div class="md:w-1/3">
                        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="email${contadorEmail}">Email ${contadorEmail}:</label>
                    </div>
                    <div class="md:w-2/3">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" id="email${contadorEmail}" name="emails" required>
                    </div>
                    <div class="md:w-3/3">
                        <label class="md:w-3/3 block text-gray-500 font-bold">
                            <input type="radio" name="emailPrincipal" value="${contadorEmail}" required> Principal
                            <span class="text-sm" id="remove-button" onclick="removerEmail(this)">❌</span>
                        </label>
                    </div>
                </div>  
            `;
            container.appendChild(novoEmail)
            contadorEmail++
        }

        function removerEmail(element) {
            const emailDiv = element.closest('.email')
            if (emailDiv) {
                emailDiv.remove()
            }
        }

        document.getElementById('cadastroForm').onsubmit = function(event) {
            event.preventDefault()
            alert('Cadastro realizado com sucesso!')
            this.reset()
            const telefonesContainer = document.getElementById('telefonesContainer')
            while (telefonesContainer.children.length > 1) {
                telefonesContainer.removeChild(telefonesContainer.lastChild)
            }
            const emailsContainer = document.getElementById('emailsContainer')
            while (emailsContainer.children.length > 1) {
                emailsContainer.removeChild(emailsContainer.lastChild)
            }
            contadorTelefone = 2
            contadorEmail = 2
        }
    </script>
</body>
</html>