<%- include('includes/head') %>

<body>
    <%- include('includes/nav') %>

    <a href="/users/addUser">ADICIONAR USUARIO</a>
    <br>
    <h1> <%= data.title %> </h1>
    <ul>
        
        <% for (let i = 0; i < data.paged.users.length; i++) { %>
            <li>
                <%= data.paged.users[i].name %> - <%= data.paged.users[i].createdAt %>
                

            </li>
            <li>
                <a href="/users/deleteUser/<%=data.paged.users[i].id %> ">deletar</a>
            </li>
        <% } %>

    </ul>
</body>
</html>