<%- include('includes/head') %>

<body class="bg-gray-100">
    <%- include('includes/nav') %>
    <div class="bg-white overflow-hidden shadow rounded-lg border">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Perfil do usuário
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Essas são algumas informações sobre o usuário
            </p>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Nome
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <%= user.name %>
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        CPF
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <%= user.cpf %>
                    </dd>
                </div>
                <% for (let i = 0; i < user.emails.length; i++) { %>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Email
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <%= user.emails[i].email %><br>
                        Email Principal: <%= user.emails[i].is_principal %>
                    </dd>
                </div>
                <% } %>
                <% for (let i = 0; i < user.telephones.length; i++) { %>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Telefone
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <%= user.telephones[i].number %><br>
                        Telefone Principal: <%= user.telephones[i].is_principal %>
                    </dd>
                </div>
                <% } %>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Role
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <%= user.isAdmin %>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</body>